@{
    ViewBag.Title = "Help";
}
<h2>Help</h2>
<ul>
    <li>Note: All of this information assume you are registered as a user at http://spsc.diocesecc.org/ .  If you are not a registered user, please visit http://spsc.diocesecc.org/Account/Register to register.</li>
    <li>Students: To Take Courses:  First login, then to. . .
        <ul>
            <li>Sign up for course: Follow the"Apply To Take Course" link toward the top of the home page.</li>
            <li>Pay for course: Navigate to the course details page by following the "Your Courses" link (http://spsc.diocesecc.org/Course/UsersCourseList), then clicking the link to attendance and notes for the desired course (it will read "Click here for details").  If there is a fee due for the course you will see a PayPal link on the details page that will allow you to pay.  Follow the PayPal link and PayPal's instructions to complete your payment.</li>
            <li>View Course Details: Navigate to the course details page by following the "Your Courses" link (http://spsc.diocesecc.org/Course/UsersCourseList), then clicking the link to attendance and notes for the desired course (it will read "Click here for details").  You can view the following information on the course details page:
                <ul>
                    <li>Attendance - present or absent</li>
                    <li>Grades - Incomplete, Passed, or Failed</li>
                    <li>Comments</li>
                    <li>Certificate of Attendance - A link to your certificate of attendance will become available after your instructor gives you a passing grade for the course.</li>
                </ul>
            </li>
            <li>Apply for Commissioning: Navigate to the "Commissioning" link found at the bottom of the home page to view details about Commissioning.
                <ul>
                    <li>Complete pre-requisites: You need to complete the following prerequisites before you can apply for commissioning.
                        <ul>
                            <li>Complete 6 core courses</li>
                            <li>Complete 2 elective courses</li>
                            <li>Complete the recommendation form (http://spsc.diocesecc.org/Commissioning/RecommendationForm)</li>
                            <li>Pay application fee - In person to the administration</li>
                            <li>Day of Reflection - Speak to an administrator about registering for a Day of Reflection</li>
                        </ul>
                    </li>
                    <li>Complete application form (http://spsc.diocesecc.org/Commissioning/Create)</li>
                    <li>Print commissioning certificate - will become available on the "Commissioning" page after you have become Commissioned</li>
                </ul>
            </li>
            <li>Apply for ReCommissioning every 5 years</li>
        </ul>
    </li>
    <li>Instructors:
        <ul>
            <li>Become an Instructor: To become an instructor you first must be registered as a regular user on the website.  After this, use the link at the bottom of the home page labeled "Apply to become an Instructor" (http://spsc.diocesecc.org/InstructorApplication/ApplyToBecomeInstructor) and submit the completed form.  <br />An administrator will review your application and approve/deny your application.  <br />Once approved/denied you will receive a notification (http://spsc.diocesecc.org/Notification) from the administrator detailing their decision.</li>
            <li>Apply to teach a course: After becoming an Instructor, navigate to the "Courses You Instruct" page where you will find a link to apply to teach a new course (http://spsc.diocesecc.org/Course/ApplyToTeach).  Complete and submit the form and await approval from an Administrator.  You will receive a Notification (http://spsc.diocesecc.org/Notification) when they have approved, edited, or denied your application to teach.</li>
            <li>Manage courses: You can manage your existing courses by navigating to the "Courses You Instruct" link found at the top of the home page.  You can view the details of each course by clicking on the course name found on the "Courses You Instruct" page.  You can actually manage the course by clicking on the "Attendance" link to the left of the name of the course you want to manage.  Here, you can manage the following:
                <ul>
                    <li>Attendance:
                        <ul>
                            <li>Click on the word "edit" in the "Edit Student's Attendance" column next to the student whose attendance you would like to change.</li>
                            <li>Then click on the individual days of attendance that you would like to change.  This will toggle the attendance value between "present" and "absent" .  If this does not work, you may need to enable javascript in your browser - javascript is typically enabled on most browsers and is required to allow you to edit these attendance values.</li>
                        </ul>
                    </li>
                    <li>Grades:
                        <ul>
                            <li>Click the "Edit Grade / Comments" link found next to the student who's grade you would like to change.</li>
                            <li>Use the drop-down option to change the grade.</li>
                            <li>Click the save button.</li>
                        </ul>
                    </li>
                    <li>Comments:
                        <ul>
                            <li>Click the "Edit Grade / Comments" link found next to the student whose comments you would like to change.</li>
                            <li>Input your comments into the text box (you can edit previous comments as well).</li>
                            <li>Click the save button.</li>
                        </ul>
                    </li>
                    <li>Completing the Course:
                        <ul>
                            <li>Click the link under the attendance table that says "Click here to mark this Course as "Complete." Doing so will make this Course uneditable."</li>
                            <li>This will send a notification to an Administrator stating that you have marked the course as complete and will allow your students to print their Certificates of Attendance.</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>Administrators: Most admin commands are accessible via links found in the Admin panel.  This Admin panel is revealed by clicking on the word "Admin" in the bottom right corner of the home page when logged into the website as an Administrator or Super Administrator.  Note that in addition to seeking out these features directly, just about any time there is anything on the site that requires attention, there will be a notification generated that will contain a link guiding the Admin to the page that needs attention.
        <ul>
            <li>Add course templates: You would want to add a course template so Instructors have a quick option to select when applying to teach a commonly taught course.
                <ul>
                    <li>From the Admin panel select "Course Template Management" (http://spsc.diocesecc.org/CourseTemplates)</li>
                    <li>You can view the details of, edit, or delete existing templates by clicking the desired link next to an existing template.</li>
                    <li>To create a new template, click the link at the top of the page that reads "Create New Template" and fill out and submit the form by clicking the "Create" button.</li>
                </ul>
            </li>
            <li>Manage commissioning applications: You can navigate to the Commissioning page of the website by clicking the link at the bottom of the home page that reads "Commissioning" (http://spsc.diocesecc.org/Commissioning).  When you visit this page as an Administrator you can see the administrator commands.
                <ul>
                    <li>To review new applications for Commissioning navigate to the Commissioning page of the website and click on the "List of unapplications for Commissioning" link (http://spsc.diocesecc.org/Commissioning/CommissioningApplications), not to be confused with "List of all applications for Commissioning."</li>
                    <li>Use the links next to the specific application to update, view status of, or deny applications.  Notifications of your changes will be sent to the applicants who submitted the application you changed.</li>
                    <li>If an applicant has filed a recommendation form, paid an application fee, or any change needs to be made to the existing application:
                        <ul>
                            <li>Click the "Edit / Update" link next to the application you want to modify.</li>
                            <li>Make the changes on the form that appears.</li>
                            <li>Click the "Save" button to confirm and save the changes.</li>
                            <li>Note that you can even override the fact that a user does not meet the minimum requirements for commissioning using this tool - this is something only an administrator can do.</li>
                        </ul>
                    </li>
                    <li>If you approve of the application - click the link next to the application that reads, "Approve" .  A notification will be sent to the applicant notifying them of your approval.</li>
                </ul>
            </li>
            <li>Manage students: Click "List of Students" (http://spsc.diocesecc.org/Student) from the Admin panel to manage all students.
                <ul>
                    <li>You can sort this list of students by clicking the column header links at the top of the page, or by using the search box.</li>
                    <li>Click "Details" next to a student's name to view the details of a Student.</li>
                    <li>It is not recommended that you attempt to create a new student from this page although you are technically able to do so.</li>
                </ul>
            </li>
            <li>Manage instructors: Click "List of Instructors" (http://spsc.diocesecc.org/Instructor) from the Admin panel to manage all Instructors.
                <ul>
                    <li>You can sort this list of Instructors by clicking the column header links at the top of the page, or by using the search box.</li>
                    <li>Click "Details" next to an instructor's name to view the details of an Instructor.</li>
                    <li>It is not recommended that you attempt to create a new Instructor although you are technically able to do so.  Note that you cannot actually create an Instructor, Create a student > give the "student" a class to teach > the "student" is now an "instructor."</li>
                </ul>
            </li>
            <li>Manage courses: Click "List of Courses" (http://spsc.diocesecc.org/Course) from the Admin panel to manage all courses.
                <ul>
                    <li>You can sort this list of courses by clicking the column header links at the top of the page, or by using the search box.</li>
                    <li>Click "Details" next to a course's name to view and edit the details of a course.</li>
                    <li>You can view the attendance details of an existing course by clicking the link that reads "Click here to see attendance details for this course."</li>
                    <li>To edit a course:
                        <ul>
                            <li>Click the link that says "Click here to edit the details of the course."</li>
                            <li>Make changes and click the "Save" button to submit your changes.</li>
                        </ul>
                    </li>
                    <li>You will want to Approve a course after an Instructor applies to teach a course and you like the details of the course:
                        <ul>
                            <li>To approve a course, you can do so directly via the edit page, or click the link on the course's details page that states "Clicking here will approve this course with its current details."</li>
                            <li>Only a Super Admin can mark a course un-approved by visiting this same Course Details page and clicking the appropriate link (the link will not be visible to anyone by a Super Admin, and will only be visible when this feature can be activated).</li>
                        </ul>
                    </li>
                    <li>You will want to Complete a course when all grades, attendance values, and student comments have been recorded and an Instructor is unable to do so themselves (i.e. they are out of town):
                        <ul>
                            <li>To complete a course, you can complete it as an instructor would from the course's attendance page, or click the link on the course's details page that states "Clicking here will complete this course".</li>
                            <li>Only a Super Admin can mark a course un-complete by visiting this same course details page and clicking the appropriate link (the link will not be visible to anyone by a Super Admin, and will only be visible when this feature can be activated).</li>
                        </ul>
                    </li>
                    <li>You will want to Archive a course when the course has been completed by an Instructor and you have reviewed the course's details and are comfortable that the course is actually complete (i.e. no mistakes).
                        <ul>
                            <li>To archive a course you would click the link on the course's details page that states "Clicking here will archive this course".</li>
                            <li>Only a Super Admin can unarchive a course by visiting this same course details page and clicking the appropriate link (the link will not be visible to anyone by a Super Admin, and will only be visible when this feature can be activated).</li>
                        </ul>
                    </li>
                    <li>Note that you cannot edit a course that has been approved - if you need to edit an approved course you can unapprove it as a Super Admin (while visiting this same page, http://spsc.diocesecc.org/Course), edit, and then re-approve the course.  Note that the website was not built with the intention that one would be able to edit a course after student's have had the opportunity to sign up and pay for a course.  Use with caution.</li>
                </ul>
            </li>
            <li>Send emails:
                <ul>
                    <li>You can send an email directly to a user by going to their Student Details (all users have a student details page as all users are technically students) page and clicking the link next to their email that says "Send an email."  This will allow you to fill out a form to send an email to a student/user directly from the website.</li>
                    <li>You can get a list of every user's email by navigating to the Notifications page (http://spsc.diocesecc.org/Notification) and clicking the "Get Email List" link at the bottom left of the page.  This list can be copy/pasted into any email program that allows you to send many emails at one time.</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>Super Administrators: Most admin commands are accessible via links found in the Admin panel.  This Admin panel is revealed by clicking on the word "Admin" in the bottom right corner of the home page when logged into the website as an Administrator or Super Administrator.
        <ul>
            <li>It is best not to use a Super Administrator feature unless you know exactly what you are doing.</li>
            <li>Unarchive data - break data</li>
            <li>Set commissioning requirements</li>
        </ul>
    </li>
</ul>
