@{
    ViewBag.Title = "Home Page";
}
<h2>Welcome to the St. Paul School of Catechism SAII system.</h2>
<p>(Student and Instructor Interaction)</p>


<p>This application is used to allow students and instructors to register with the St. Paul School of Catechism.  Please contact the administration if you have any questions.</p>

<h4>Disabled features (disabled until live)</h4>
<li>Payments through Paypal</li>
<li>Application admin email is using test email address</li>
<li>Default "Ministry Involvement" values are currently dummy values</li>
<li>Default descriptions for pre-set Course Templates do not match brochure</li>

<h4>When you find a bug, please detail it in the following way and send to the development team</h4>
<li>Detail exactly what you were doing before and just as the bug occurred</li>
<li>Explain what happened that was not supposed to happen</li>
<li>Give the exact url of the page you were on before the bug occurred and the page you were on when the bug occurred.</li>



<h4>If you want a feature changed, please detail it in the following way and send to the development team</h4>
<li>Explain the current detail that you do not prefer</li>
<li>Explain how you want the detail to be changed</li>
<li>Give the exact url of the page on which the detail appears</li>

<h4>Recent Changes (published 8/19/2013)</h4>
<li>Added help page.</li>

<h4>Changes (published 5/10/2013)</h4>
<li>Changed Paypal payment address to a non-sandbox address.</li>
<li>Changed Paypal payments to production mode, from sandbox mode.</li>
<li>Changed contact email address.</li>

<h4>Changes (published 5/1/2013)</h4>
<li>Various styling / page layout / phrasing changes.</li>
<li>Instructors can now mark student fees as, "paid."</li>
<li>Misc bug fixes.</li>

<h4>Changes (published 01/30/2013)</h4>
<li>Updated 'pass/fail' phrasing to match actual credit system.</li>
<li>Corrected a user experience bug when viewing attendance values.</li>
<li>Edited multiple notification messages to enhance clarity.</li>
<li>Changed the message given to students when they have not yet paid the fee for an enrolled course.</li>
<li>Removed unecessary "edit" links in multiple places.</li>
<li>Changed boolean values to be represented by "Yes" or "No" instead of checkboxes.</li>
<li>Streamlined the commmissioning process from an administrator's perspective.</li>
<li>Added many more notifications confirming changes made by administrators.</li>
<li>Corrected dozens of spelling / grammar errors.</li>
<li>Repaired the error when the user registration page is returned because of an error (i.e. the email address is already in use).</li>

<h4>Changes (published 10/18/2012)</h4>
<li>Quick-link to Commissioning Recommendation form has been added to footer.</li>
<li>Instructors can now print versions of Certificates of Attendance with a line for them to sign from the /Attendance/AttendanceView page.</li>
<li>Miscellaneous grammar and formatting changes.</li>

<h4>Changes (published 9/2/2012):</h4>
<li>When logged in as an Admin you will see a hovering button that links you to an Administrative panel.</li>
<li>Admin are redirected to the Notification page upon successful log-in.</li>
<li>Notification system redesigned: Notifications can now be marked read or unread.  By default, notifications are unread and are highlighted yellow.  A User will receive a red notification text reminder if they log on and have an unread notification.</li>
<li>Instructors can access their students' certificates of attendance.</li>
<li>If a student has not paid a course's enrollment fee after completion of the course, the Certificate of Attendance will state that the fee has not been paid.</li>
<li>Attendance pages now show, "absent," values in red and require two clicks to turn from, "absent," to, "present," to prevent unintentional marking of a Student present when they should be absent.</li>
<li>Default attendance values are now, "presnt," instead of, "absent."</li>
<li>Course details now lists, "Begin Time," and, "End Time," rather than, "Duration Hours," and, "Duration Mins."</li>
<li>Commissioning page is clearer about explaining requirements and the user's current qualifications.</li>
<li>Registration confirmation email now has more details explaining what the email is for.</li>
<li>"State" field during registration and profile editing is now a combo-box instead of a text field.</li>
<li>The, "Log-On," link was changed to, "Log-On / Register."</li>
<li>There is now a warning when an Admin clicks to mark a course completed (this was previously unintentionally left out).</li>
<li>An instructor can no longer mark a course as complete unless the end-date of the course has passed.</li>
<li>Misc grammar / formatting changes.</li>
