@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>
<p>
    Click <a href="http://www.diocesecc.org/offices/?id=82" title="St. Paul School of Catechesis">here</a> to return to the main page.
</p>