@{
    ViewBag.Title = "Home Page";
}
<h2>Welcome to the St. Paul School of Catechism SAII system.</h2>
<p>(Student and Instructor Interaction)</p>


<p>This application is used to allow students and instructors to register with the St. Paul School of Catechism.  Please contact the administration if you have any questions.</p>

<p>If you need help, try our @Html.ActionLink("help page", "Help", "Home") or  <a href="mailto:Evangelization@diocesecc.org">contact</a> an administrator.</p>