@model ICollection<PaulSchool.Models.Student>
@{
    ViewBag.Title = "QualifyForCommissioning";
}

<h2>QualifyForCommissioning</h2>
<p>
    These students qualify for Commissioning (for demonstration purposes the requirements for Commissioning have temporarily been set to 0 total hours):
</p>
<table>
    <th>
        User Name
    </th>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.UserName, "Details", "Student", new { id=item.StudentID }, null)
            </td>
        </tr>
    }
</table>