@{
    Layout = null;
}

<!DOCTYPE html>
<style media="all" type="text/css">
    /* Body

-------------------------------------------------*/
    body {

        font: 62.5%/1.5 Arial, Hevetica, sans-serif
    }
    body h1 {
        font-size: 2em;

        margin: 0px 0 0 0px;

        text-align: center;
    }
    body h2 
    {
        font-size: 1.6em;
        margin: 0px 0 0 0px;

        text-align: center;
    }
    #wrapper 
    {
        /*background-image:url('../../Content/images/diocese.png');
        background-repeat:no-repeat;*/
        background-color: #FFF;

        margin: 0 auto;

        width: 960px;
    }
/* Header

-------------------------------------------------*/

    Header {

        background-color: #FFF;

        display: block;

        height: 50px;
    }



    Header h1 {

        font-size: 2em;

        margin: 10px 0 0 10px;

        text-align: center;
    }

/* Nav

-------------------------------------------------*/

    #nav {

        Float: right;

        list-style-position: inside;

        list-style-type: none;

        margin: 20px 0 0 0;
    }



    #nav li {

        display: inline;

        font-size: 12px;

        margin: 0 20px 0 0;
    }





/* Content

-------------------------------------------------*/



    #content { padding: 10px; }



    #gallery {

        list-style-type: none;

        margin: 10px 0 0 0;
    }



    #gallery li {

        display: inline;

        margin: 0 20px 0 0;
    }



    #gallery li a img { border: 3px solid #06f; }



    #gallery li a img:hover { border: 3px solid #444; }



/* Footer

-------------------------------------------------*/

    footer { background-color: #999; }



    footer p {

        font-size: 1.4em;

        padding: 10px 0;

        text-align: center;
    }



/* Text and Links

-------------------------------------------------*/



    p {

        color: #000;

        font-size: 1.5em;
    }



    P1 { color 

    # 000;

    font-size: 2em

    ;

    margin-left: auto;

    margin-right: auto;

    

}






a{

    color: #333;

    text-decoration: none;

}



a:hover{

    color: aqua;

    text-decoration: underline;

}
</style>
<html>
    <head>
        <title>Recommendation Form</title>
    </head>
    <body>
        
        <div id="wrapper">
            <img src="../../Content/images/diocese.png" style = float:left />
            <h2><br />Department of Evangelization and Catechesis<br /> Office of Religious Education<br /> St. Paul School of Catechesis</h2>

            <br/>

            <h1>Recommendation Form for</h1>
            <h1>Commissioning and Re-Commissioning</h1>

            <p1> <br /><br /><br />Full Name _____________________________________________________ <br /><br />

                Parish/School __________________________________________________ <br /><br />

                (Answer all)<br />

                Is the applicant active in your parish/school catechetical program?              __________<br /><br />

                Does the applicant have successful experience as a catechist?                    __________<br /><br />

                Does the applicant exhibit an understanding of catechesis amongst diverse groups?__________<br /><br />

                Add you thoughts on the applicant's ability to be a successful Catechist.______________________<br />

                _______________________________________________________________________________<br />_______________________________________________________________________________<br />

                _______________________________________________________________________________<br />_______________________________________________________________________________<br />

                <br /><br /><br />

                I Recommend ______________________ (Applicant Name) for commissioning or re-commissioning.<br /><br />

                Signature of Parish Catechetical Leader _______________________ <br />

                Date _____________ <br /><br />

                I have read and discussed this form with the Parish Catechetical Leader.<br /><br />

                Applicant signature _______________________ Date _____________ 

                

            </p1>

        </div>

    </body>
</html>