@model PaulSchool.ViewModels.AttendanceViewModel

@{
    ViewBag.Title = "Attendance";
}

<h2>Attendance</h2>

<fieldset>
    @Html.EditorForModel()
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
