@model PaulSchool.ViewModels.EditCommentGradeViewModel

@{
    ViewBag.Title = "ViewComment";
}

<h2>ViewComment</h2>

<fieldset>
    <legend>EditCommentGradeViewModel</legend>

    <div class="display-label">EnrollmentID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnrollmentID)
    </div>

    <div class="display-label">Grade</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Grade)
    </div>

    <div class="display-label">Comments</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comments)
    </div>
</fieldset>
