@model PaulSchool.ViewModels.EditCommentGradeViewModel

@{
    ViewBag.Title = "ViewComment";
}

<h2>ViewComment</h2>

<fieldset>
    <legend>Viewing Grade / Comments</legend>

    <div class="display-label">Student Name:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Student.FirstMidName) @Html.DisplayFor(model => model.Student.LastName)
    </div>

    <div class="display-label">Grade</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Grade)
    </div>

    <div class="display-label">Comments</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comments)
    </div>
</fieldset>
