@model PaulSchool.Models.CommissioningRequirements

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CommissioningRequirements</legend>

    <div class="display-label">CoreCoursesRequired</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CoreCoursesRequired)
    </div>

    <div class="display-label">ElectiveCoursesRequired</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ElectiveCoursesRequired)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
