@model PaulSchool.ViewModels.InstructorApplicationViewModel
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="editorRow">
        @Html.EditorFor(model => model.UniversityOrCollege) @Html.ValidationMessageFor(model => model.UniversityOrCollege) <a href="#" class="deleteRow">delete</a>
    </div>
}