@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>This is where youw ill apply to become an Instructor that is capable of applying to teach Courses</p>
@Html.ActionLink("Click here to apply to become an Instructor", "ApplyToBecomeInstructor")