@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>This is where you will apply to become an Instructor that is capable of applying to teach courses.</p>
@Html.ActionLink("Click here to apply to become an Instructor", "ApplyToBecomeInstructor")