@{
    ViewBag.Title = "Success";
}

<h2>Success</h2>

<p>
    You have successfully approved the Instructor Application.
</p>

<p>
    @Html.ActionLink("Back to List of Instructor Applications", "Index")
</p>