@model PaulSchool.Models.Student
@{
    ViewBag.Title = "OrdersInHtml";
}

<h2>OrdersInHtml</h2>
<img src="/Content/images/acenturyoftradition.jpg" plainwidth="194.0" plainheight="202.0" />
<p><b>Name:</b> @Html.DisplayFor(model => model.FirstMidName) @Html.DisplayFor(model => model.LastName)</p>
<img src="http://www.diocesecc.org/eccbanners/Diocesan%20Banner2.jpg" />