@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>
@if (Request.IsAuthenticated)
{
    <p>
        This is your user name: <b>@User.Identity.Name</b>
    </p>
    <p>
        You are a teacher?: <b>@PaulSchool.Models.CustomProfile.GetUserProfile(User.Identity.Name).IsTeacher</b>
    </p>
    <p>
        Have you filled out student info?: <b>@PaulSchool.Models.CustomProfile.GetUserProfile(User.Identity.Name).FilledStudentInfo</b>
    </p>
    @Html.ActionLink("Edit Profile", "ChangeProfile")
}